<?php
/**
 * Plugin Name:       {{title}}
{{#description}}
 * Description:       {{description}}
{{/description}}
 * Requires at least: 5.8
 * Requires PHP:      7.0
 * Version:           {{version}}
{{#author}}
 * Author:            {{author}}
{{/author}}
{{#license}}
 * License:           {{license}}
{{/license}}
{{#licenseURI}}
 * License URI:       {{{licenseURI}}}
{{/licenseURI}}
 * Text Domain:       {{textdomain}}
 *
 * @package           {{namespace}}
 */

function {{namespaceSnakeCase}}_{{slugSnakeCase}}_block_init() {

	register_block_type(
		plugin_dir_path( __FILE__ ) . 'build',
		array(
			'render_callback' => '{{namespaceSnakeCase}}_{{slugSnakeCase}}_render_callback',
		)
	);
}
add_action( 'init', '{{namespaceSnakeCase}}_{{slugSnakeCase}}_block_init' );


function {{namespaceSnakeCase}}_{{slugSnakeCase}}_render_callback( $atts, $content, $block) {
	ob_start();
	require plugin_dir_path( __FILE__ ) . 'build/template.php';
	return ob_get_clean();
}
